:root {
    --background: rgb(19, 4, 90);
}

html {
    overflow-x: hidden;

}

body,
.offcanvas-body,
.offcanvas-header,
.navbar,
.dropdown-menu {
    background: var(--background);
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 1px;
    cursor: pointer;
}

/****************************** header ************************************************************************ */
.navbar-brand {
    color: whitesmoke;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    letter-spacing: .88px;
    text-transform: uppercase;
    /* font-weight: 200; */
}

.fuud {
    color: orangered;
}

.navbar-brand,
.fa-solid:hover {
    color: whitesmoke;
    cursor: pointer;
}

.fa-solid {
    color: orangered;
    font-size: 20px;
}

.offcanvas-header button.text-reset {
    color: whitesmoke;
    /* background-color: red; */
}

/* .o{
    background-color: red;
    color: white;
} */
.navbar-nav .nav-item a {
    color: whitesmoke;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}

.navbar-nav .nav-item a:hover {
    color: orangered;

}

.navbar-nav {
    justify-content: center;
    align-items: center;
}

.d-flex button {
    border: 1px solid orangered;
    color: whitesmoke;
}

.d-flex button:hover {
    background: orangered;
    color: whitesmoke;
}

.userz li a {
    color: whitesmoke;
    background-color: orangered;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    border-radius: .6rem;
}

.userz li a:hover {
    color: whitesmoke;
}

.userz {
    list-style-type: none;
    margin-top: 2rem;
}

/* ************************header big screen ******************** */
.dropstart {
    margin-left: 12rem;
}

.navbar i.fa-cart-arrow-down {
    /* margin-left: 30rem; */
    /* margin-left: auto; */
}




/* **********carousels ************ */
.carousel-inner img {
    height: 19rem;
}

/* ************** Bannnr ********************* */
.banner {
    margin-top: 9rem;

}

.bans {
    font-family: 'Segoe UI', Tahoma, cursive, Verdana, sans-serif;
    font-size: 12px;
    word-spacing: .3px;
    /*     margin-left:3rem */
    width: 100%;
    text-align: start;
}



/* ******************* products ******************************************************************** */

.latest {
    background-color: orangered;
    font-size: 19px;
    font-family: arial;
    text-transform: capitalize;
    padding: .4rem;
    width: 100%;
    margin-top: 10rem;
}

.card {
    background-color: var(--background);
    margin-top: 3rem;
    /* color: orangered; */
}

.card-body {
    /* align-items: flex-start; */
    text-align: start;
}

.card-text {
    font-size: 14px;
    color: rgb(202, 192, 192);
}

.butts {
    /* margin-top: -3rem; */
    justify-content: space-around;
}

.butts a {
    color: aliceblue;
    background-color: red;
    text-transform: uppercase;
    font-size: 12px;
}

.text-light {
    border: 1px solid red;
    text-transform: uppercase;
}

.text-light:hover {
    background-color: red;
}

/* ******************contacts *************************************************** */

.contacts {
    margin-top: 12rem;
}

.contacts h2 {
    background-color: orangered;
    font-size: 19px;
    font-family: arial;
    text-transform: capitalize;
    padding: .4rem;
    /* width: 100%; */
    margin-top: 10rem;
}

.contacts h5 {
    margin-top: 2rem;
    font-family: 'fantasy';
    font-size: 20px;
    width: 100%;
    text-align: start;
    margin-bottom: 5rem;
}

.form_1 label {
    text-transform: capitalize;
}

.form_1 input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: orangered;
    color: whitesmoke;
}

.form_1 textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: orangered;
    color: whitesmoke;
}

/* *********************footer ******************************** */

.footer_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}

.footer_1 h2 {
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    font-family: sans;
}

.fudz {
    color: orangered;
}

.zone:hover {
    color: orangered;
}

.footer_1 p {
    font-size: 14px;
    cursor: pointer;
}

.footer_2 {
    width: 100%;
}

.footer_2 h3 {
    text-transform: uppercase;
    font-family: serif;
    font-weight: 600;
}

.footer_2 ul {
    color: rgb(221, 208, 208);
    list-style-type: none;
    text-align: start;
    width: 100%;
    text-transform: capitalize;
}

/* *********************** LOGIN ***************************************************  */
.login-form {
    margin-top: 10rem;
}

.login-form_1 {
    height: 400px;
    /* background: red; */
    box-shadow: -3.5px -3px 10px 10px grey;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.login-form_1 label {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form_1 input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    /* background-color: red; */
    font-family: Arial, Helvetica, sans-serif;
}

lottie-player {
    margin-top: 10rem;
    font-size: 500rem;
}

/* *********************** LOGIN ***************DONE************************************  */